name: Update Medium Articles
on:
  schedule: [{cron: "0 12 * * *"}]
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://medium.com/feed/@gauravraisinghani1998"
          max_post_count: 5
