name: Metrics
on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Gaurav-Raisinghani
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Phoenix
          plugins: languages, achievements
          plugins_languages: yes
          plugins_achievements: yes
          output_action: commit
